<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>



<div class="container">
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
          <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>
